/* Colors:
    Rich Black FOGRA 29: #001219 (Background & Border)
    Gunmetal: #192A32 (Card Background)
    Turquoise: #2dc5be (X Button)
    Saffron: #f2b237 (O Button)
    Big Stone: #1f3540 (Choose Bg and text color)   
*/

/* My styling is horrible, read it at your own risk */

/* Colors Variables */
:root{
    --rich-black-bg-border: #001219;
    --gunmetal-card-bg: #192A32;
    --turquoise-xbtn: #2dc5be;
    --saffron-obtn: #f2b237;
    --big-stone: #1f3540;
}

/* Universal Selector */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
*:focus {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

/* Body */
body {
    background-color: var(--rich-black-bg-border);
}

/* Header */
header {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}
.nav {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 18px;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.nav:hover{
    padding-left: 20px;
    padding-right: 20px;
    font-size: larger;
}
.nav img{
    height: 2rem;
    width: 2rem;
    border-radius: 50px;
    transition: all 0.3s ease;
}
.nav:hover img{
    height: 3rem;
    width: 3rem;
    border-radius: 50px;
}

/* Main */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 85vh;
}
.choose {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%) scale(0.9);
    background-color: var(--big-stone);
    height: fit-content;
    padding: 20px 0;
    color: var(--turquoise-xbtn);
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease;
    min-width: 300px;
}
.activate {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%,-50%) scale(1);
}
.choose-title {
    border-bottom: 1px solid var(--rich-black-bg-border);
    text-align: center;
    font-size: 2em;
    padding: 8px 50px 20px;
}
.choose-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0; 
}
.choose:first-of-type .choose-btn{
    padding: 20px 0px 20px 0px;
    justify-content: space-evenly;
}
.choose:first-of-type .chooser{
    padding: 5px 50px;
    margin: 0;
}
.chooser {
    cursor: pointer;
    color: var(--big-stone);
    font-weight: 800;
    font-size: 3em;
    width: fit-content;
    padding: 5px 25px;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.firstOne.choose-btn{
    margin: 0 20px 0 0;
}
.x-btn{
    background-color: var(--turquoise-xbtn);
}
.o-btn{
    background-color: var(--saffron-obtn);
}

/* Style for the card contaning the game */
.card {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    background-color: var(--gunmetal-card-bg); 
    border-radius: 25px;
    color: white;
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.9);
    transition: all 0.3s ease;
    padding: 10px;
    min-height: 300px;
    min-width: 300px;
}
.card.activate {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}
.row {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 10px;
}
.tile {
    background-color: var(--big-stone);
    height: 150px;
    width: 150px;
    color: var(--turquoise-xbtn);
    font-weight: 600;
    font-size: 6em;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tile.cpu {
    color: var(--saffron-obtn);
}
.tile.disabled {
    pointer-events: none;
}

/* Won/Lose/Tie */
.won .choose-btn{
    padding: 0;
}
.won-title {
    font-weight: 600;
    padding: 0px 50px 0px;
    font-size: 3em;
}
.reset {
    background-color: var(--saffron-obtn);
    margin: 30px 0 20px;
}

/* Media Queries */
@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .choose{
        font-size: 0.8em;
    }
    
    .tile {
        height: 90px;
        width: 90px;
        font-size: 4em;
    }
}

/* 
█▀▀ █▀█ █▀▀ ▄▀█ ▀█▀ █ █▀█ █▄░█   █▄▄ █▄█   ▄▀█ █▄░█ █▄▀ █ ▀█▀   █▀▄ █░█░█ █ █░█ █▀▀ █▀▄ █
█▄▄ █▀▄ ██▄ █▀█ ░█░ █ █▄█ █░▀█   █▄█ ░█░   █▀█ █░▀█ █░█ █ ░█░   █▄▀ ▀▄▀▄▀ █ ▀▄▀ ██▄ █▄▀ █
*/